asn1crypto==0.24.0
certifi==2021.5.30
charset-normalizer==2.0.2
click==8.0.1
cryptography==2.6.1
entrypoints==0.3
Flask==2.0.1
idna==3.2
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==2.0.1
pattern-observer==1.0.0
psutil==5.8.0
pycrypto==2.6.1
PyGObject==3.30.4
pyxdg==0.25
requests==2.26.0
SecretStorage==2.3.1
six==1.12.0
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.5.0
